/*
 * ThreeKey Keyboard
 *
 * MCU:
 * ProMicro nRF52840
 *
 * Keys:
 * D2 -> P0.17
 * D3 -> P0.20
 * D4 -> P0.22
 *
 * OLED:
 * SDA D20 -> P0.29
 * SCL D21 -> P0.31
 */


#include <dt-bindings/gpio/gpio.h>


/ {
    chosen {
        zmk,kscan = &kscan0;
        zephyr,display = &oled;
    };


    kscan0: kscan {

        compatible = "zmk,kscan-gpio-direct";

        wakeup-source;


        input-gpios = <
            &pro_micro 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
            &pro_micro 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
            &pro_micro 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)
        >;

    };

};


&i2c0 {

    status = "okay";


    oled: ssd1306@3c {

        compatible = "solomon,ssd1306fb";

        reg = <0x3c>;

        width = <128>;

        height = <64>;

        segment-remap;

        com-invdir;

    };

};
