#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
    keymap {

        compatible = "zmk,keymap";


        default_layer {

            bindings = <
                &kp A
                &kp B
                &kp C
                &kp ENTER
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;

        };

    };


    sensors {

        compatible = "zmk,keymap-sensors";

        sensors = <&encoder>;

    };


    combos {

        compatible = "zmk,combos";


        combo_bootloader {

            timeout-ms = <50>;

            key-positions = <0 1 2>;

            bindings = <&bootloader>;

        };

    };
};
